.container {
  height: 80px;
  background-color: cadetblue;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.name {
  letter-spacing: 5px;
  font-weight: 400;
}

.tabs {
  width: 40%;
  transition: 0.3s ease-in;
}
.cols {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.burger {
  display: none;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  background-color: black;
  height: 2px;
  width: 26px;
  margin: 5px;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 1024px) {
  .tabs {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .tabs.nonactive {
    display: none;
  }
  .tabs.active {
    z-index: 999;
    top: 80px;
    width: 100%;
    right: 0;
    text-align: center;
    position: absolute;
    background-color: aquamarine;
    transition: 0.3s ease-in;

  }

  .cols {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    transition: 0.3s ease-in;
  }

  .navLinks {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .burger {
    display: block;
  }

  .line1.active{
      transform: rotate(-45deg) translate(-1px, 5px);
      transition: 0.3s ease-in;
  }
  .line3.active{
      transform: rotate(45deg) translate(-2px, -1px);
      transition: 0.3s ease-in;
  }

  .line2.active{
      display: none;
  }
}
